@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * OM Global Styles
 */

@layer utilities {
    .shimmer, .shimmer-invert {
        @apply relative overflow-hidden;

        &:after {
            background-color: #ffffff;
            content: "";
            height: 200%;
            width: 30%;
            left: -60%;
            top: -50%;
            opacity: .2;
            position: absolute;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
            -webkit-transition: all 1s cubic-bezier(.19, 1, .22, 1);
            transition: all 1s cubic-bezier(.19, 1, .22, 1);
        }

        &:hover {
            &:after {
                left: 130%;
            }
        }
    }
    .shimmer-invert:after {
        background-color: #000;
        opacity: .05;
    }
}

@layer components {
    hr {
        @apply my-6
    }
}